<p>register works!</p>

<form (ngSubmit)="registerUser()" #registrationForm="ngForm">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
      <div *ngIf="emailExistsError" class="error-message">
        Email already exists. Please choose a different email.
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>